<form class="{{cssclass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'rits.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "rits.Description"}}</label>
    {{editor system.description target="system.description" button=true editable=editable}}
    <label class="label-stripe">{{localize "rits.ExpClues"}}</label>
    <div><i>- {{localize "rits.classExpClue1"}}</i></div>
    <div>{{localize "rits.classExpClueDescription"}}</div>
    <div><i>- {{localize "rits.classExpClue2"}}</i></div>
    <div><i>- {{localize "rits.classExpClue3"}}</i></div>
    {{editor system.experience_clues target="system.experience_clues" button=true editable=editable}}

    {{#if isGM}}
      <div class="label-stripe">{{localize "rits.Logic"}}</div>
      <textarea name="system.logic">{{{system.logic}}}</textarea>
      <div class="label-stripe">{{localize "rits.Effects"}}</div>
      <div id="effects">{{> "systems/runners-in-the-shadows/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>

</form>
