<form class="{{cssclass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'rits.Faction'}}"/></h1>
      </div>
  </header>


  <section class="flex-vertical">
	<label class="label-stripe">{{localize "rits.Description"}}</label>
    <textarea rows="2" name="system.description">{{system.description}}</textarea>
	<label class="label-stripe">{{localize "rits.FactionType"}}</label>
    {{system.type}}<br><br>
	<label class="label-stripe">{{localize "rits.Tier"}}</label>
    <textarea rows="1" name="system.tier">{{system.tier}}</textarea>
	<label class="label-stripe">{{localize "rits.Notes"}}</label>
    <textarea rows="2" name="system.notes">{{system.notes}}</textarea>

    {{#if isGM }}
        <label class="label-stripe">{{localize "rits.Goal"}}</label>

        <div class="flex-vertical clock-block" id="faction-goal-clock">
          <div class="clocks clocks-{{system.goal_1_clock_max}} small" id="faction-clock-1">
            {{{runners-clock "system.goal_1_clock_value" system.goal_1_clock_max system.goal_1_clock_value (concat id "-1")}}}
          </div>
          <div id="clock-max-1">
            <select id="max-1" name="system.goal_1_clock_max">
              {{{system.size_list_1}}}
            </select>
          </div>
          <textarea rows="1" name="system.goal_1">{{system.goal_1}}</textarea>

          <div class="clocks clocks-{{system.goal_1_clock_max}} small" id="faction-clock-2">
            {{{runners-clock "system.goal_2_clock_value" system.goal_2_clock_max system.goal_2_clock_value (concat id "-2")}}}
          </div>
          <div id="clock-max-2">
            <select id="max-2" name="system.goal_2_clock_max">
              {{{system.size_list_2}}}
            </select>
          </div>
          <textarea rows="1" name="system.goal_2">{{system.goal_2}}</textarea>

        </div>
        <label class="label-stripe">{{localize "rits.NotableNPCs"}}</label>
        <textarea rows="10" name="system.notables">{{system.notables}}</textarea>
        <label class="label-stripe">{{localize "rits.Turf"}}</label>
        <textarea rows="2" name="system.turf">{{system.turf}}</textarea>
        <label class="label-stripe">{{localize "rits.Assets"}}</label>
        <textarea rows="1" name="system.assets">{{system.assets}}</textarea>
        <label class="label-stripe">{{localize "rits.Quirks"}}</label>
        <textarea rows="1" name="system.quirks">{{system.quirks}}</textarea>
        <label class="label-stripe">{{localize "rits.Allies"}}</label>
        <textarea rows="1" name="system.allies">{{system.allies}}</textarea>
        <label class="label-stripe">{{localize "rits.Enemies"}}</label>
        <textarea rows="1" name="system.enemies">{{system.enemies}}</textarea>
        <label class="label-stripe">{{localize "rits.Situation"}}</label>
        <textarea rows="10" name="system.situation">{{system.situation}}</textarea>
    {{/if}}
  </section>

</form>
